.flex-align-center {
    align-items: center;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-baseline {
    align-items: baseline;
}

.flex-align-stretch {
    align-items: stretch;
}

// .align-self-center {
//     align-self: center;
// }

// .align-self-start {
//     align-self: flex-start;
// }

// .align-self-end {
//     align-self: flex-end;
// }

// .align-self-baseline {
//     align-self: baseline;
// }

// .align-self-stretch {
//     align-self: stretch;
// }
