:root {
  --background-light: #f6f6f6;
  --background-dark: #090909;
  --text-light: #000000;
  --text-dark: #ffffff;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  color: var(--text-light);
  background-color: var(--background-light);
}

.app.dark {
  color: var(--text-dark);
  background-color: var(--background-dark);
}

.UserInfo {
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
}

.Dashboard-page {
  flex: 1;
  padding: 20px;
}

.Sidebar {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 250px;
  background-color: white;
  color: var(--text-light)
}

.SidebarElement {
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  padding-left: 10px;
  width: 100%;
  height: 60px;
  cursor: pointer;
}

.Sidebar.dark {
  background-color: black;
  color: var(--text-dark)
}

.SwitchThemeButton {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin-top: auto;
}

.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
  background-color: white;
  padding: 15px;
}

.horizontal-line {
  border: 1px solid #001d1a;
  opacity: 1;
  margin: 0
}

.horizontal-line.dark {
  border: 1px solid white;
}

.form.dark {
  background-color: #1b1b1b;
}

.call-for-action-btn {
  font-family: 'Noto Sans', 'sans-serif';
  font-size: 13px;
  border-radius: 2px;
}
