/* :root {
    --background-light: #f6f6f6;
    --background-dark: #252525;
    --text-light: #000000;
    --text-dark: #d2d2d2;
  }
  
  .app {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 16px;
    color: var(--text-light);
    background-color: var(--background-light);
  }
  
  .app.dark {
    color: var(--text-dark);
    background-color: var(--background-dark);
  }
  
  .UserInfo {
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
  }
  
  .Dashboard-page {
    flex-wrap: wrap;
    display: flex;
    flex:1;
    align-items: baseline;
  }
  

  
  .page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .form {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    width: 100%;
    background-color: white;
    padding: 15px;
  }
  
  .horizontal-line {
    border: 1px solid #001d1a;
    opacity: 1;
    margin: 0
  }
  
  .horizontal-line.dark {
    border: 1px solid var(--text-dark);;
  }
  
  .form.dark {
    background-color: #1b1b1b;
  }
  
  
  
  .header-container {
    display: flex;
    flex-direction: row;
  }
  
  cursor-pointer {
    cursor: pointer;
  }
  
  
  .redirect-button.dark {
    color: var(--text-dark);
  }
 */
