@function generateHoverColor($baseColor, $frac) {
    @return mix($baseColor, if($frac > 0, white, black), abs($frac));
}

@mixin themeBackground($light, $dark) {
    background-color: $light;

    .dark & {
        background-color: $dark;
    }
}

@mixin themeBackgroundHover($light, $dark) {
    &:hover {
        background-color: generateHoverColor($light, -90%);
    }

    .dark & {
        &:hover {
            background-color: generateHoverColor($dark, 90%);
        }
    }
}

@mixin themeBackgroundActive($light, $dark) {
    &:active {
        background-color: generateHoverColor($light, -80%);
    }

    .dark & {
        &:active {
            background-color: generateHoverColor($dark, 80%);
        }
    }
}

$pallette-a: #84D5FF;
$pallette-b: #0CD0FF;
$pallette-c: #09A3C6;
$pallette-d: #06778D;
$pallette-e: #034A53;
$pallette-f: #001D1A;

$primary-light: $pallette-d;
$primary-dark: $pallette-d;

$success-light: $pallette-f;
$success-dark: $pallette-f;

$widget-light: #fff;
$widget-dark: #000;

$widget-pane-light: $pallette-b;
$widget-pane-dark: $pallette-e;