@import './../../styles/colors.scss';

.std-widget {
    //common
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    width: 470px;
    padding: 18px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    @include themeBackground($widget-light, $widget-dark);


    //types?
    .Pane {
        padding-top: 6px;
        padding-bottom: 6px;
        padding-left: 12px;
        padding-right: 12px;
        height: 72px;
        border-radius: 4px;

        @include themeBackground($widget-pane-light, $widget-pane-dark);
        @include themeBackgroundHover($widget-pane-light, $widget-pane-dark);
    }
}