@import './../../styles/colors.scss';

.std-widget {
    //common
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    display: flex;
    width: 470px;
    padding: 25px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    @include themeBackground($widget-light, $widget-light);
    @include themeBackgroundHover($widget-light, $widget-light);


    //types?
    .Pane {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 8px;
        padding-right: 8px;
        display: flex;
        flex-direction: row;
        height: 70px;
        border-radius: 2px;

        @include themeBackground($widget-pane-light, $widget-pane-dark);
        @include themeBackgroundHover($widget-pane-light, $widget-pane-dark);
    }
}