@import './../../styles/colors.scss';

.std-widget {
    //common
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    display: flex;
    width: 470px;
    padding: 25px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    
    @include themeBackgroundWithHover($widget-light, $widget-light);


    //types?
    .Pane {
        padding: 8px;
        display: flex;
        flex-direction: row;
        height: 70px;
        border-radius: 2px;

        @include themeBackgroundWithHover($widget-pane-light, $widget-pane-dark);
    }
}