@import './../../styles/colors.scss';

.std-button {
    //common
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    font-family: 'Noto Sans', 'sans-serif';
    height: fit-content;
    min-width: 45px;


    color: white;
    .dark & {
        color: var(--text-dark);
    }

    &.primary {
        @include themeBackground($primary-light, $primary-dark);
        @include themeBackgroundHover($primary-light, $primary-dark);
        @include themeBackgroundActive($primary-light, $primary-dark);
        @include themeBorderColor($primary-light, $primary-dark);
    }
    &.success {
        @include themeBackground($success-light, $success-dark);
        @include themeBackgroundHover($success-light, $success-dark);
        @include themeBackgroundActive($success-light, $success-dark);
        @include themeBorderColor($success-light, $success-dark);
    }

}
